name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
    # ---------------- Checkout ----------------
    - name: Checkout source code
      uses: actions/checkout@v4

    # ---------------- Python setup ----------------
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    # ---------------- SAST - CodeQL ----------------
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: python

    - name: Run CodeQL Analysis
      uses: github/codeql-action/analyze@v3

    # ---------------- SAST - Bandit ----------------
    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit Security Scan
      run: bandit -r api --severity-level high --confidence-level high || true

    # ---------------- Docker build ----------------
    - name: Build Docker Image
      run: docker build -t devsecops-api:latest .

    # ----------------  Image Scan ----------------
    - name: Trivy Image Security Scan
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: devsecops-api:latest
        severity: HIGH,CRITICAL
        exit-code: 0
